*{
    margin: 0;
    padding: 0;
}
.bd{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{
    width: auto;
    height: 35vh;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
 
    
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 25px;
    float: left;
    margin: 30px 5px;
    font-size: 50px;
    color: chartreuse;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 400px;
}
ul li, button{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: chartreuse;

}
ul li a:hover{
    color: white;
}